
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 7px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header .adminNav{
min-width: 130px;
}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.LoginBut {
    padding: 5px 10px;
    background-color: #1CB698;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.loginPopUP {
    background-color: #1c2124;
    padding: 35px 35px;
    border-radius: 5px;
    position: relative;
    position: absolute;
    top: 105%;
    right: 2%;
    display: none;
}

.loginPopUP form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 35px;
    border: solid 1.5px #dee2e6;
    border-radius: 5px;
}
.flex {
    display: flex;
}

.User {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.loginPopUP form input {
    padding: 10px;
    border-radius: 10px;
        outline: none;
    border: 1px solid #dee2e6;
}

.submit {
    width: 60%;
    margin: auto;
    background-color: #1CB698;
    color: white;    
    cursor: pointer;
}

.LoginClose {

    background-color: #dee2e6;
    display: flex;
    align-items: center;
    padding:5px;
    width: 20%;
    border-radius: 5px;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
    bottom:2%;
    position: absolute;
    right: 10%;
}

.NavRightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}